          <!-- SECTION TITLE -->
          <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>LISTADO DE HEROES</h1>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>
          <!-- /SECTION TITLE -->
          
          <!-- GRID DE HEROES -->
          <div class="card card-solid">
            <div class="card-body pb-0">
              <div class="row">
                
                <!-- Card Component --><!-- NGFOR -->
                <app-card></app-card>
                <!-- Card Component -->
              </div>
            </div>

          </div>
          <!-- /GRID DE HEROES -->